<%- include('./partials/header.ejs')%>
<%- include('./partials/homenavbar.ejs')%>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo!</h1>
            <p class="lead">Esse é um projeto criado durante o curso "Formação Node.js" do guia do programador.</p>
            <hr class="my-4">
            <p>Nossa aplicação funciona com alguns artigos e suas respectivas categorias, usamos bancos de dados relacionais e etc. </p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
        <% articles.forEach(article => {%>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-success">Ler Artigo</a>
                </div>
            </div>
            <br>
        <% }) %>
    </div>

    <div class="row">
        <div class=" col col-12">
            <a style="float: right;" href="/articles/page/2">Próximo >>></a>
        </div>
        <hr>
    </div>
    <hr>

</body>
<%- include('./partials/footer.ejs')%>